body {
	background-color:white;
}

canvas {
	border:2px dotted gray;
	width:600px;
	float:left;
	margin-left:10px;
}

div#usrInfo {
	float:left;
	width:300px;
	margin-left:20px;

	/*DEBUG*/
	background-color:gray;
}

div#wrapper {
	float:left;
	width:1000px;

	/*DEBUG*/
	border:2px dotted gray;
	background-color:white;
}
