body {
	background-color:black;
	color : white;
}

canvas {
	width:600px;
	float:left;
	margin-left:10px;
	
	/*
	border:2px dotted gray;
	*/
}

div#usrInfo {
	float:left;
	width:300px;
	margin-left:20px;

	/*DEBUG*/
	/*
	background-color:gray;
	*/
}

div#wrapper {
	float:left;
	width:1000px;

	/*DEBUG*/
	/*
	border:2px dotted gray;
	background-color:white;
	*/
}
